
.title {
  padding-left: 10%;
  color: $font-orange;
  font-size: $sm-title-text-size;
  @include mediaQ (med) {
    font-size: $title-text-size;
  }
}

.contact-text {
  padding-left: 10%;
  width: 80%;
  color: $font-blue;
  a {
    color: $font-blue;
  }
}

.projects {
  @include mediaQ (large) {
    .a {
      text-align: right;
    }
    .b {
      text-align: left;
    }
  }
}
